/* BAB */
.materi .header-materi {
	font-size: 2em;
	margin: 40px 0 40px 130px;
	letter-spacing: 3px;
}

.materi > .header-materi {
	margin-left: 84px;
}

.materi .cta-content {
	background-color: #e9e9e9;
	border-radius: 26px;
	position: relative;
	margin: auto;
	width: 95%;
}

.materi .card-materi {
	border-top: 1px solid #1e1e1e;
	border-bottom: 1px solid #1e1e1e;
	margin: auto;
	padding: 0;
}

.materi a.nav-kelas {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 1rem 2rem;
	color: #1e1e1e;
	font-size: 1.5em;
	letter-spacing: 3px;
}

.materi a.nav-kelas:hover {
	background-color: #4064c6;
	color: #fff;
}

.materi a.active {
	background-color: #dbe1f0;
}

.materi .book {
	margin-left: -70px;
}

.cta-bab .cta-card-bab {
	background-color: #fff;
	margin: auto;
	width: 95%;
	border-radius: 16px;
	color: #243e88;
}

.cta-bab .img-thumb {
	position: relative;
}

.cta-bab .cta-card-bab .card-text {
	font-size: 1.3em;
	position: absolute;
	left: 200px;
}

.cta-bab .cta-card-bab .card-sub {
	font-size: 0.8em;
}

.cta-bab .cta-card-bab:hover {
	transform: scale(102%);
}

/* RESPONSIVE */

@media only screen and (max-width: 992px) {
	.cta-bab .cta-card-bab {
		width: 80%;
	}

	.cta-bab .cta-card-bab .card-text {
		width: 200px;
		font-size: 0.9em;
	}

	.cta-bab .img-thumb {
		width: 80px;
	}

	.materi > .header-materi {
		margin-left: 64px;
	}

	.materi .card-materi {
		border-top: 1px solid #1e1e1e;
		border-bottom: none;
	}

	.materi .card-materi:last-of-type {
		border-bottom: 1px solid #1e1e1e;
	}
}
@media only screen and (max-width: 724px) and (min-width: 576px) {
}

@media only screen and (max-width: 600px) {
	.cta-bab .cta-card-bab .card-text .card-title {
		font-size: 14px;
	}
}
@media only screen and (max-width: 470px) {
	.cta-bab .cta-card-bab .card-text {
		width: 160px;
		font-size: 0.9em;
	}
	.cta-bab .cta-card-bab .card-text .card-title {
		font-size: 12px;
	}
}
@media only screen and (max-width: 416px) {
	.cta-bab .cta-card-bab .card-text {
		width: 100px;
	}
	.cta-bab .cta-card-bab .card-text .card-title {
		font-size: 10px;
	}
}

/* SUBBAB NAV */

#materi {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

#materi nav {
	position: sticky;
	top: 4.5rem;
	min-width: 22rem;
	max-width: 22rem;
	height: calc(100vh - 4.5rem);
	background-color: #f4f5f8;
	border-right: 1px solid #b3b3b3;
}

#materi nav h3 {
	padding: 1rem;
	margin: 0;
	border-bottom: 1px solid #dadada;
}

#materi .isi-subbab {
	max-height: calc(100vh - 9rem);
	padding-left: 0;
	list-style: none;
	overflow-x: hidden;
	overflow-y: auto;
}

#materi .isi-subbab li {
	position: relative;
	counter-increment: num;
}

#materi .isi-subbab li::before {
	content: "Sub " counter(num);
	position: absolute;
	left: 1rem;
	top: 1rem;
  background-color: #087fff;
  font-size: 80%;
  color: white;
	font-family: inherit;
  padding: 3px 8px;
  border-radius: 12px;
}

#materi a.nav-subbab {
	display: inline-block;
	padding: 1rem;
	padding-left: 5rem;
	width: 100%;
	color: #0a6fdc;
}

#materi a.nav-subbab:hover {
	background-color: #cedaff;
}

#materi a.active {
	background-color: #d6f6fb;
}

#materi a.active::before {
	content: "";
	width: 5px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #0a6fdc;
}

#materi .backdrop {
	display: none;
	position: fixed;
	pointer-events: none;
	top: 4.5rem;
	width: 100vw;
	height: calc(100vh - 4.5rem);
}

#materi .nav-button {
	display: none;
	position: absolute;
	bottom: 0;
	left: 100%;
	padding: 26px;
	background-color: #087fff;
	border-radius: 0 12px 0 0;
}

#materi .nav-button::before {
	content: '>';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0);
	font-size: 2.4rem;
	color: white;
	transition: transform 0.5s linear;
}

#materi .nav-button:hover:before {
	font-size: 2.8rem;
}

/* RESPONSIVE */

@media only screen and (max-width: 992px) {
	#materi nav {
		position: fixed;
		top: 0;
		height: 100vh;
		border: none;
		left: -22rem;
		z-index: 100;
		transition: left 0.5s ease;
	}

	#materi nav.active {
		left: 0;
	}

	#materi :is(.backdrop, .nav-button) {
		display: block;
	}

	#materi nav.active ~ .backdrop {
		pointer-events: fill;
		background-color: rgba(0, 0, 0, 0.6);
	}

	#materi nav.active > .nav-button {
		left: calc(100% - 52px);
		border-radius: 12px 0 0 0;
	}

	#materi nav.active > .nav-button::before {
		transform: translate(-50%, -50%) rotate(180deg);
	}
}

/* SUBBAB ARTICLE */

#subbab {
	flex-grow: 1;
	padding: 3rem 2rem;
}

#subbab .container {
	max-width: 724px;
	margin: auto;
}

#subbab h1 {
	font-size: 2.2rem;
	font-weight: bold;
}

#subbab hr {
	margin: 2rem 0 3rem;
}

#subbab p {
	text-align: justify;
	text-indent: 2.5rem;
}

#subbab p.no-indent {
	text-indent: 0;
}

#subbab img {
	display: block;
	width: 100%;
	max-width: 400px;
	margin: 2rem auto;
}

#subbab img.fill {
	max-width: unset;
}

#subbab h2 {
	margin: 2rem 0 1rem;
}

#subbab :is(ol, ul) {
	padding-left: 2.5rem;
	list-style-position: outside;
	text-align: justify;
}

#subbab li {
	margin-bottom: 8px;
}

/* RESPONSIVE */
@media only screen and (max-width: 500px) {
	#subbab {
		padding: 3rem 1rem;
	}
}